streamlit==1.39.0
pandas
numpy
joblib
catboost
xgboost
lightgbm
torch
transformers
Pillow
scikit-learn
streamlit-option-menu
streamlit-autorefresh
pytesseract==0.3.10
transformers==4.57.1
torch==2.9.0
Pillow
